.flow-canvas-collapse-adder > .flow-canvas-collapse {
    display: none !important;
}
.flow-canvas-collapse-adder {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
}

.flow-canvas-adder {
    height: 32px !important;
}
.flow-canvas-adder > span {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}
.flow-canvas-adder:hover > span {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
